@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
  --primary-color: #ff7300;
  --secondary-color: #cf5d00;
  --login-bg-color: #d6d6d6;
  --bg-color: white;
}

.checkout-main
{
    display: flex;
    flex-direction: column;
}

.checkout-title
{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 1rem;
}

.room.lock
{
    background-color: #d9d9d9;
    color: #b8b8b8;
}

.room.lock .room-ppn
{
    color: #ffa459;
}

.gray .fi.fi-ss-sign-out-alt
{
    font-size: 2rem;
    margin-left: 0.5rem;
}

.gray .fi.fi-ss-sign-out-alt:hover
{
  color: var(--primary-color);
  transition: 150ms ease-in-out;
}

.checkout-modal
{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.checkout-modal-title
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29rem;
  color: white;
  background-color: var(--primary-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.checkout-modal-title h1
{
  font-size: 1.2rem;
  font-weight: 500;
}

.checkout-modal-title i
{
  margin-top: 0.4rem;
  font-size: 1.2rem;
  margin-right: 0.2rem;
  cursor: pointer;
}

.checkout-text
{
  display: flex;
  padding: 1rem;
  color: black;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.checkout-text p
{
  font-size: 1.15rem;
}

.checkout-text .bold
{
  font-weight: 600;
}

.checkout-btns
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.checkout-btns #go-back
{
  color: white;
  font-size: 1rem;
  width: 14.5rem;
  text-align: center;
  padding: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 0;
  height: 2.5rem;
  background-color: #02cf39;
}

.checkout-btns #go-back:hover
{
  background-color: #018224;
  transition: 150ms ease-in-out;
  color: var(--login-bg-color);
}

.checkout-btns #checkout-btn
{
  color: white;
  font-size: 1rem;
  width: 14.5rem;
  text-align: center;
  padding: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 0;
  height: 2.5rem;
  background-color: red;
}

.checkout-btns #checkout-btn:hover
{
  background-color: #bd0019;
  transition: 150ms ease-in-out;
  color: var(--login-bg-color);
}

.invoice-modal
{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.invoice-text
{
  display: flex;
  padding: 1rem;
  color: black;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  width: 28rem;
  margin-top: 2rem;
}

.invoice-text i
{
  cursor: pointer;
  color: #039c2c !important;
  margin-top: 0.3rem;
}

.invoice-text i:hover
{
  transition: none;
  color: #039c2c !important;
}

.invoice-text h1
{
  font-size: 1.4rem;
  font-weight: 500;
}

.download-invoice-btn
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29rem;
  margin-top: 1rem;
  padding: 0;
  margin-bottom: 0;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  height: 5rem;
  gap: 0.5rem;
  cursor: pointer;
}

.download-invoice-btn:hover
{
  color: var(--login-bg-color);
  background-color: var(--secondary-color);
  transition: 150ms ease-in-out;
}

.download-invoice-btn p
{
  margin-bottom: 0.3rem;
}


.download-invoice-btn i
{
  font-size: 1.75rem;
  margin-top: 0.2rem;
}

.filter-options
{
  display: flex;
  gap: 1rem;
  margin-left: 4.5rem;
  margin-bottom: 1.5rem;
}

.filter-options section label
{
  color: var(--primary-color);
}

